<div class="editMenu">
    <p><a href='/editor/news'>News Flashes</a></p>
    <p><a href='/editor/homes'>Home Page Text</a></p>
    <p><a href='/editor/recents'>Recent Page Text</a></p>
	<p><a href='/editor/venues'>Venues</a></p>
	<p><a href='/editor/works'>Works</a></p>
    <p><a href='/editor/concerts'>Concert Text</a></p>
    <p><a href='/editor/rehearsals'>Rehearsals</a></p>
</div>
