<div class="editMenu">
    <p><a href='/editor/news'>News Flashes</a></p>
    <p><a href='/editor/hometext'>Home Page Text</a></p>
    <p><a href='/editor/concerts'>Concert Text</a></p>
    <p><a href='/editor/rehearsals'>Rehearsals</a></p>
</div>
