            <td width="60%">
                <table width="100%">
                    <tr>
                        <td class="pictures" align="center">
                            <table width="100%" id="gallery">
                                <tr>
                                    <td>
                                        <a href="/images/choir2.jpg"><img src="/images/choir2_small.jpg" /></a>
                                    </td>
                                    <td>
                                        <a href="/images/choir_full.jpg"><img src="/images/choir_full_small.jpg" /></a>
                                    </td>
                                    <% if !@is_mobile %>
                                    <td>
                                        <a href="/images/choir_tenor.jpg"><img src="/images/choir_tenor_small.jpg" /></a>
                                    </td>
                                    <% end %>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr class="photoAck">
                        <td>
                            Photos of choir by <a href="http://lephotography.zenfolio.com" target="_blank">Letchworth Events Photography</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="maintext">
                            <p>
                                The <strong>Letchworth Chorale</strong> is an amateur chamber style choir. 
                        We perform a wide range of choral music, including classical and modern works.
                       
                            </p>

                            <p>
                                Performing in and around Letchworth since 1982, we pride ourselves on being 
                        a friendly choir and we are always delighted to welcome new members. We strive to achieve 
                        high standards of performance, but also to enjoy ourselves in the process. 
                       
                            </p>

                            <p>
                                We hold rehearsals on Mondays from 7:30 to 9:30 pm at the 
                       
                                <a href="http://maps.google.co.uk/maps?q=Central+Methodist+Church,+Letchworth+Garden+City&hl=en&ll=51.975959,-0.224061&spn=0.008195,0.019805&sll=53.800651,-4.064941&sspn=16.764146,40.561523&vpsrc=0&t=m&z=16&iwloc=A" target="_blank"><strong>Central Methodist Church, Norton Way South, Letchworth</strong></a>. 
                        We have breaks roughly around school terms.
                       
                            </p>

                            <p>
                                Formal voice training is not required, and we do not hold auditions for 
                        membership, but you must be able to read music sufficiently to follow a 
                        score, and sing in tune.
                       
                            </p>

                            <p>
                            If you'd like to join, <strong>please let us know via the <a href="/contact">contact form</a></strong>,
                        or just turn up to one of our Monday rehearsals. We start at 7:30 so if you can
                        get there a little before that, there will be time for one of our members to welcome you before 
                        the rehearsal gets under way.
                        </p>
                       
                        <% if @next_concerts.count > 0 %>
                           <p> At the moment we are rehearsing for our 
                            <% @next_concert_performed = DateTime.parse(@next_concerts[0]['performed']) %>
                            <%=
                                    "<a href=\"/concerts/#{@next_concerts[0]['concert_id']}\">" + 
                                    "#{@next_concerts[0]['title']}</a>" +
                                    ((@next_concerts[0]['title'] =~ /\bconcert\b/i) == nil ? ' concert' : '') +
                                    ", which takes place on " +
                                    @next_concert_performed.strftime('%A, %d %B %Y') 
                            %>

                            <% if @next_concert_performed.hour > 0 %>
                                <%= @next_concert_performed.strftime(' at %l:%M %P') %>
                            <% end %>
                            <%= '.' %>

                        <% end %>

                            <p>
                                <strong>Letchworth Chorale</strong> is supported by the
                       
                                <a href="http://www.hertsdirect.org/your-community/comvol/hobbi2y/hyart3y/artcouandtrusts4/432397" 
                                    target="_blank"><strong>Arts Council For North Hertfordshire</strong></a>.
                    </td>
                    </tr>
                </table>
            </td>
