
            <td width="60%">
                <table width="100%">
                    <tr>
                        <td class="maintext">
                        <%= @recent_works_text %>
                    </tr>
                </table>
            </td>
