            <td width="60%">
                <table width="100%">
                    <tr>
                        <td class="pictures" align="center">
                            <table width="100%>
                                <tr>
                                        <a href="/images/choir_full.jpg"><img src="/images/choir_full_small.jpg" /></a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="maintext">
                            <table width="100%">
                                <tr>
                                    <td> 
                                        Thank you for contacting us. Please click <a href="/">here</a> to return to the website.
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
