<td width="60%">
    <table width="100%">
        <tr>
              <td class="pictures" align="center">
                  <table>
                      <tr>
                    <% if @work['composer_image_file'] %>
                        <td>
                          <img src="<%= "/images/content/composer/#{@work['composer_image_file']}" %>">
                        </td>
              <% end %>
                      </tr>
                  </table>
              </td>
        </tr>
        <tr>
            <td align="center" class="workTitle"><%= @work['title'] %></td>
        </tr>
         
        <tr>
            <td class="maintext">
                <%= @work['description'] %>
           </td>
       </tr>
    </table>
</td>
